* {
    box-sizing: border-box;
}

header{
    text-align: center;
}

.game-container{
    width: 500px;
    margin: 0 auto;
}

.game-board{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.game-board > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 33%;
    /* border: 3px 0 3px 0 solid black; */
}

.cell {
    width: 33.33%;
    height: 100%;
    background-color: white;
    /* border: solid 1px black; */
}

.game-board > div:nth-child(2){
    border-top: solid black 10px;
    border-bottom: solid black 10px;
}

.game-board > div>.cell:nth-child(2){
    border-left: solid black 10px;
    border-right: solid black 10px;
}

.cell-empty{
    background-color: white;
}

.cell-player1{
    background-image: url(images/o_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.cell-player2{
    background-image: url(images/x_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}